---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

# 20260701 - playbooks>homepage>templates>services.yaml


- Core:
    - Router HA:
        description: Router-1
        siteMonitor: https://router.lan:10443
        ping: 192.168.1.1
    - Router 01:
        href: https://router01.lan:10443
        icon: pfsense.png
        description: Router-1
        siteMonitor: https://router01.lan:10443
        ping: 10.10.10.2
        #widget:
          #- type: pfsense
            #url: https://router01.lan:10443 #pfsense.host.or.ip:port
            #username: pacnetadmin # optional, or API key
            #password: inspirit-2020-Gaze # optional, or API key
        # headers: # optional, or username/password
        # X-API-Key: key
            #wan: igb0
        # version: 2 # optional, defaults to 1 for api v1
            #fields: ["load", "memory", "temp", "wanStatus"] # optional
    - Router 02:
        href: https://router02.lan:10443
        icon: pfsense.png
        description: Router-1
        siteMonitor: https://router02.lan:10443
        ping: 10.10.10.3
        # widget:
            # - type: pfsense
            # url: https://router01.lan:10443 # http://pfsense.host.or.ip:port
            # username:  # optional, or API key
            # password: pass # optional, or API key
        # headers: # optional, or username/password
        # X-API-Key: key
            # wan: igb0
        # version: 2 # optional, defaults to 1 for api v1
            # fields: ["load", "memory", "temp", "wanStatus"] # optional

    - Router 03:
        href: https://192.168.50.1:10443
        icon: tp-link.png
        description: Router-3 - 4G
        siteMonitor: https://192.168.50.1:10443
        ping: 192.168.50.1

    - Router 04:
        href: https://192.168.50.1:10443
        icon: 
        description: Telenet router
        siteMonitor: 
        ping: 192.168.0.1

    - SW01:
        description: SW01 - GS724Tv4
        href: https://sw01.lan
        icon: netgear.png
        siteMonitor: https://sw01.lan
        ping: 192.168.1.8
        # widget:

    - SW02:
        description: SW02 - GS724Tv4
        href: https://sw02.lan
        icon: netgear.png
        siteMonitor: https://sw02.lan
        ping: 192.168.1.9

- Access:
    - SW03:
          description: SW03 - GS305 - 2d floor
          href: http://sw03.lan
          icon: netgear.png
          siteMonitor: http://sw03.lan
          ping: 192.168.1.10
    - SW04:
          description: SW04 - GS305 - Living
          href: http://sw04.lan
          icon: netgear.png
          siteMonitor: http://sw04.lan
          ping: 192.168.1.11
    - SW06:
          description: SW06 - GS305EPP
          href: http://sw06.lan
          icon: netgear.png
          siteMonitor: http://sw06.lan
          ping: 192.168.1.14
    - Access Points:
        - AP01:
              description: AP01.lan - Netgear WAV610
              href: https://ap01.lan
              icon: netgear.png
              siteMonitor: https://ap01.lan
              ping: ap01.lan
        - AP02:
              description: AP02.lan - Netgear WAV610
              href: https://ap02.lan
              icon: netgear.png
              siteMonitor: https://ap02.lan
              ping: ap02.lan
        - AP03:
              description: AP03.lan - Netgear WAV610y
              href: https://ap03.lan
              icon: netgear.png
              siteMonitor: https://ap03.lan
              ping: ap03.lan
        - AP04:
              description: xxx - phone.pacnet.be
              href: https://
              icon: 
              siteMonitor: https://
              ping: 
    # - CPL:
        # - PL1:
            # description: DEVOLO Bridge
            # href: http://192.168.1.16/#/overview
            # icon: devolo.png
            # ping: 192.168.1.16
            # siteMonitor: http://192.168.1.16
        # - PL2:
            # description: DEVOLO 1st floor
            # href: http://192.168.1.18/#/overview
            # icon: devolo.png
            # ping: 192.168.1.18
            # siteMonitor: http://192.168.1.18
- Servers:
    - R710:
        description: DELL R710 2 Intel Xeon@2.67 | 24GB - VMWWARE
        href: https://vm.dmz/
        icon: vmware.png
        siteMonitor: https://vm.dmz/
        ping: 10.10.10.16
    - R710-DRAC:
        icon: dell.png
        ping: 10.10.10.110
    - T310:
        description: DELL R310 2 Intel __ | xxGB - unRAID
        href: http://t310.dmz/
        icon: unraid.png
        siteMonitor: http://t310.dmz/
        ping: 10.10.10.20
        widget:
            type: netdata
            url: http://t310.dmz:19999
    - R310-DRAC:
        icon: dell.png
        ping: 10.10.10.120

    - pserver2502:
        description: Intel TwinLake N150 4C/4T Max 3.6GHz | Intel iGPU - 24EUs | 16GB
        href: http://pserver2502.dmz:19999/
        icon: linux.png
        siteMonitor: http://pserver2502.dmz/
        ping: pserver2502.lan
        # docker:
            # host: psever07.dmz
            # port: 2375
        # server: pserver07
        # resources:
            # label: System
            # cpu: true
            # memory: true
        # container: pserver07.dmz
        # widget:
           # type: netdata
           # url: http://pserver07.dmz:19999
        widget: 
          #type: portainer
            #url: https://pserver2502.dmz:9443
            #env: 2
            #key: ptr_WCj4YXXttOaDqK0ylOjI0juvXJBnEwDJr2Ef2qPH57M=
            type: netdata
            url: http://pserver2502.dmz:19999
            mappings:
            - field:
              alarms: warning
              label: Warnings
              format: number

    # - pserver07:
        # description: Intel __ | xxGB - unRAID
        # href: http://pserver07.dmz/
        # icon: linux.png
        # siteMonitor: http://pserver07.dmz/
        # ping: pserver07.dmz
        # widget:
            # type: netdata
            # url: http://pserver07.dmz:19999
- NAS:
    - HomeNAS:
        href: https://homenas.lan:5001/
        description: 
        icon: synology.png
        siteMonitor: https://homenas.lan
        ping: homenas.lan
        widget:
            type: diskstation
            url: https://homenas.lan:5001
            username: patrik
            password: {{ homepage_homenas_password }}
            #netmon|pacNet.moniTor.2020
            volumes:
              - Volume 1
              - Volume 2
    - PACNAS:
        href: https://pacnas.lan:5001/
        description: 
        icon: synology.png
        siteMonitor: https://pacnas.lan
        ping: pacnas.lan
        widget:
            type: diskstation
            url: https://pacnas.lan:5001
            username: pacnetadmin
            password: {{ homepage_pacnas_password }}
            volume:
              - volume_1
              - volume_2
- PIs:
    - PI 3b:
        ping: 192.168.0.121
        href: http://
        #icon: pios.png
        #siteMonitor: http://192.168.0.121:5201 # p5201=iPerf3
    - PI 4:
        ping: 10.10.10.26
        href: http://pi4.lan
        #icon: pios.png
        #siteMonitor: http://10.10.10.26:5201 # p5201=iPerf3
    - PI 5:
        ping: 10.10.10.29
        href: http://pi5.lan
        #icon: pios.png
        #siteMonitor: http://10.10.10.29:5201 # p5201=iPerf3
            
- Virtual machines:
    - vserver01:
        description: 
        href: https://
        icon: linux.png
        siteMonitor: http://vserver01.dmz
        ping: vserver01.dmz
        widget:
            type: netdata
            url: http://vserver01.dmz:19999
    - vserver02:
        description: 
        href: https://
        icon: ispconfig.png
        siteMonitor: http://vserver02.dmz
        ping: vserver02.dmz
        widget:
            type: netdata
            url: http://vserver02.dmz:19999
    - vserver03:
        description: 
        href: https://
        icon: linux.png
        siteMonitor: http://vserver03.dmz
        ping: vserver03.dmz
        widget:
            type: netdata
            url: http://vserver03.dmz:19999
    - vserver04:
        description: 
        href: https://
        icon: linux.png
        siteMonitor: http://vserver04.dmz
        ping: vserver04.dmz
        widget:
            type: netdata
            url: http://vserver04.dmz:19999
    - vserver05:
        description: 
        href: https://
        icon: linux.png
        siteMonitor: http://vserver05.dmz
        ping: vserver05.dmz
        # widget:
            # type: netdata
            # url: http://vserver05.dmz:19999
    - vserver06:
        description: 
        href: https://
        icon: linux.png
        siteMonitor: http://vserver06.dmz
        ping: vserver06.dmz
        # widget:
            # type: netdata
            # url: http://vserver06.dmz:19999
    - vserver07:
        description: Win7-64b
        href: https://
        icon: windows7.png
        siteMonitor: http://vserver06.dmz
        ping: vserver06.dmz
        # widget:
            # type: netdata
            # url: http://vserver06.dmz:19999
    - vserver08:
        description: Win7-64b
        href: https://
        icon: windows.png
        # siteMonitor: http://vserver06.dmz
        # ping: vserver06.dmz
        # widget:
            # type: netdata
            # url: http://vserver06.dmz:19999
    - vserver09:
        description: Win7-32b
        href: https://
        icon: windows.png
        # siteMonitor: http://vserver06.dmz
        # ping: vserver06.dmz
        # widget:
            # type: netdata
            # url: http://vserver06.dmz:19999
    - vserver10:
        description: Win10-64b
        href: https://
        icon: windows.png
        # siteMonitor: http://vserver06.dmz
        # ping: vserver06.dmz
        # widget:
            # type: netdata
            # url: http://vserver06.dmz:19999
    - vserver11:
        description: 
        href: https://
        icon: linux.png
        # siteMonitor: http://vserver06.dmz
        # ping: vserver06.dmz
        # widget:
            # type: netdata
            # url: http://vserver06.dmz:19999
    - vserver12:
        description: 
        href: https://
        icon: linux.png
        #siteMonitor: https://vserver12.dmz
        ping: vserver12.dmz
        # widget:
            # type: netdata
            # url: http://vserver12.dmz:19999
    - vserver_RZ:
        description: RunZero vm
        href: https://
        icon: linux.png
        # siteMonitor: http://vserver12.dmz
        # ping: vserver12.dmz
        # widget:
            # type: netdata
            # url: http://vserver12.dmz:19999

- Monitoring:
    - UptimeKuma Overview:
        href: https://kuma.pacnet.be/dashboard
        description: uptimekuma
        icon: uptime-kuma.png
        widget:
            type: uptimekuma
            url: https://kuma.pacnet.be
            slug: overview
    - UptimeKuma infrastructure:
        href: https://kuma.pacnet.be/status/infra
#        description: Infrastructure overview
#        icon: uptime-kuma.png
        widget:
            type: uptimekuma
            url: https://kuma.pacnet.be
            slug: infra

    - UptimeRobot:
        href: https://stats.uptimerobot.com/TsUJHK29tp
        description:
        icon: icons/uptimerobot.svg
        widget:
           type: uptimerobot
           url: https://api.uptimerobot.com
           key: {{ homepage_uptimerobot_key }} #all monitors
        #    key: m797637673-7c7f9288df9b354f15c06677 #b2u.be
        #    key: m797649128-141733a0f8afee8f14ab387a #pacnet.be
        #    key: m797737055-04393c16b760319b0f715c30 #web.pacnet.be
        #    key: m797649171-d3752f4e7596725c0b7a95ab #b2u-be.odoo.com/my
    - LAN SpeedTest:
        href: http://10.10.10.20:3000/
        icon: openspeedtest.png
        description: on T310

    - Speedtest-Tracker:
        # https://speedtest-tracker.dev/
        icon: speedtest-tracker.png
        href: http://t310.dmz:8081
        description: ISP speedtest
        widget:
            type: speedtest
            url: http://t310.dmz:8081
            fields: ["download", "upload", "ping"]

- IoT and Smarthome:
    - Home Assistant:
        href: https://ha.pacnet.be
        icon: home-assistant.png
        description: homeassistant
        ping: ha.lan
        siteMonitor: https://ha.pacnet.be
        key: "{{ homepage_ha_key }}"
        widget: #https://gethomepage.dev/widgets/services/homeassistant/
            type: homeassistant
            url: https://ha.pacnet.be
            key: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiIzYmMwNzQ3NTIwZTk0OGJhOTljYzdkNDc0ZTk4Mzg5ZiIsImlhdCI6MTczNzUzNTM3NCwiZXhwIjoyMDUyODk1Mzc0fQ.rmoKonP2wlFq2xNi9kEKV5xGzo2EOEsIdZtm5tBHHHQ"
            # custom:
                # - state: sensor.total_power
                # - state: sensor.total_energy_today
                  # label: energy today
                # - template: "** states.switch|selectattr('state','equalto','on')|list|length **" 
                #   in the line here above, because of ansible, curly bracket have been replaced with *
                  # label: switches on
                # - state: weather.forecast_home
                  # label: wind speed
                  # value: "{attributes.wind_speed} {attributes.wind_speed_unit}"
    - Frigate:
        href: https://frigate.pacnet.be
        description: pserver2502
        icon: frigate.png
        ping: frigate.lan
        siteMonitor: https://frigate.pacnet.be
        widget:
        type: frigate
        url: http://frigate.pacnet.be
        enableRecentEvents: true # Optional, defaults to false

- Portainer:
    - pserver2502:
        href: https://pserver2502.dmz:9443/
        icon: portainer.png
        description: portainer-pserver2502
        widget: 
            type: portainer
            url: https://pserver2502.dmz:9443
            env: 2
            key: ptr_WCj4YXXttOaDqK0ylOjI0juvXJBnEwDJr2Ef2qPH57M=
    - vserver04:
        href: https://vserver04.dmz:9443/
        icon: portainer.png
        description: portainer-vserver04
        widget: 
            type: portainer
            url: https://vserver04.dmz:9443
            env: 2
            key: {{ homepage_portainer_vserver04_key }}
    - vserver06:
        href: https://vserver06.lan:9443/
        icon: portainer.png
        description: portainer-vserver06
        widget: 
            type: portainer
            url: https://vserver06.lan:9443
            env: 2
            key: {{ homepage_portainer_vserver06_key }}
    - pserver07:
        href: https://pserver07.dmz:9443/
        icon: portainer.png
        description: portainer-pserver07
        widget: 
            type: portainer
            url: https://pserver07.dmz:9443
            env: 2
            key: {{ homepage_portainer_pserver07_key }}
- Network management:
    - Netbox:
        href: http://netbox.dmz/
        icon: netbox.png
        description: on vserver__
    - PRTG:
        href: http://netmon.dmz:8080/welcome.htm
        icon: prtg.png
        description: on vserver__
    - RunZero:
        href: https://console.runzero.com/
        icon: runzero.png
        description:
    - Zabbix:
        href: https://zabbix.lan/
        icon: zabbix.png
        description:
        widget:
            type: zabbix
            url: http://zabbix.host.or.ip/zabbix
            key: your-api-key
    - Grafana:
        href: https://grafana-prod-1.srv-prod-1.home.clcreative.de
        description: grafana-prod-1 on srv-prod-1
        icon: grafana.png
        server: 
        container: grafana-prod-1
        # widget:
            # type: grafana
            # url: http://grafana.host.or.ip:port
            # username: username
            # password: password
    - LibreNMS:
        href: http://librenms.dmz/
        icon: librenms.png
        description: on vserver__.40
- Calendar:
    - calendar:
        widget:
          type: calendar
          firstDayInWeek: sunday # optional - defaults to monday
          view: monthly # optional - possible values monthly, agenda
          maxEvents: 10 # optional - defaults to 10
          showTime: true # optional - show time for event happening today - defaults to false
          timezone: Europe/Brussels # optional and only when timezone is not detected properly (slightly slower performance) - force timezone for ical events (if it's the same - no change, if missing or different in ical - will be converted to this timezone)
          # integrations: # optional
            # - type: sonarr # active widget type that is currently enabled on homepage - possible values: radarr, sonarr, lidarr, readarr, ical
              # service_group: Media # group name where widget exists
              # service_name: Sonarr # service name for that widget
              # color: teal # optional - defaults to pre-defined color for the service (teal for sonarr)
              # params: # optional - additional params for the service
                # unmonitored: true # optional - defaults to false, used with *arr stack
            # - type: ical # Show calendar events from another service
              # url: https://domain.url/with/link/to.ics # URL with calendar events
              # name: My Events # required - name for these calendar events
              # color: zinc # optional - defaults to pre-defined color for the service (zinc for ical)
              # params: # optional - additional params for the service
                # showName: true # optional - show name before event title in event line - defaults to false    

#- Online services:

