[Unit]
Description=Frigate Recordings Archival Script
Wants=network-online.target
After=network-online.target docker.service

[Service]
Type=oneshot
User=root
Nice=10
ExecStart=/usr/local/bin/frigate-archive.sh -d 15
# Example: Add flags as needed (dry run, verbose, remote copy, etc.)
# ExecStart=/usr/local/bin/frigate-archive.sh -d 15 -n -v -r -u pacnetadmin -h backuphost -p /backups/frigate

StandardOutput=append:/var/log/frigate-archive.systemd.log
StandardError=append:/var/log/frigate-archive.systemd.err
